img {
    float: right;
    margin-right:200px ;
    margin-top: -450px;
    display: block;
}
.title{
    padding: 10px 0px;
}
h1{
    font-size: 48px;
}
 h5{
     font-weight: bold;
     font-size: 19px;
     margin-top: 3px;
     color: gray;
    }
    i{
        color: red;
    }
    .points{
        margin:4px 0px;
    }
h6{
    font-size: 15px;
    padding: 4px 0px;
    font-weight: lighter;
}
.DonateBlood{
    margin-left: 300px;
}
h3{
    color: red;
    padding: 14px 0px;
    margin-bottom: 22px;
}